<%- include('./partials/head') %> 

<%- include('./partials/header') %>

<main>
    <section>
        <img src=" <%= results.coverimages %> " alt="" />
        <h1>Het boek</h1>
    </section>
</main>

<%- include('./partials/foot') %>